<a href="https://colab.research.google.com/github/deeniyakousar/Test-1/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
df = pd.read_excel('/deena.xlsx')

In [5]:
df.head()

,Booking_ID,Customer_ID,Destination,Travel_Dates,Booking_Date,Number_of_Travelers,Travel_Package,Payment_Method,Total_Cost,Travel_Agent,Customer_Feedback
0,BKG01438,CUST5663,BANGALORE,2024-05-27 - 2025-06-02,2023-07-26,3.0,Premium,Debit Card,41695.84,Bass Inc,Power matter brother guy. Out adult perhaps ge...
1,BKG02701,CUST4963,Vietnam,2024/05/02 / 2025/06/28,2024-02-05,3.0,Standard,Credit Card,36619.85,Wood Group,Position call within size than couple. Effect ...
2,BKG03648,cust5625,Tokyo,2023-12-02 - 2025-03-09,2024-07-17,2.0,NaN,NaN,44543.87,Bridges-Collins,NaN
3,BKG02513,CUST4246,Delhi,2023-11-10 - 2024-09-13,2024-03-15,6.0,Luxury,Credit Card,41053.94,"Edwards, Hill and Lee",NaN
4,bkg02903,CUST3901,Chennai,2023-11-09 - 2024-08-22,2023-04-09,3.0,Luxury,PayPal,36238.26,Hardy Inc,NaN

In [6]:
df.tail()

,Booking_ID,Customer_ID,Destination,Travel_Dates,Booking_Date,Number_of_Travelers,Travel_Package,Payment_Method,Total_Cost,Travel_Agent,Customer_Feedback
5245,BKG03093,CUST4090,BRANDYVILLE,2024-01-23 - 2025-04-15,2024-08-17,3.0,NaN,Bank Transfer,45823.85,"King, Porter and Patrick",Understand man remain tough.
5246,BKG03773,CUST0249,SAINT LUCIA,2023-12-11 - 2025-01-11,2023-04-07,1.0,NaN,NaN,28937.40,Lane-Hopkins,Scientist bank wife. Measure prevent fear imag...
5247,bkg04354,CUST3227,Delhi,2024-06-13 - 2025-04-10,2024-04-15,6.0,Luxury,Bank Transfer,63021.04,Curry-Duke,Space area above score economy happy spring in...
5248,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
5249,BKG00861,CUST1529,Turkmenistan,2024-05-11 - 2024-11-06,2024-07-12,3.0,Standard,PayPal,77632.50,"Lewis, Jones and Morgan",NaN

In [7]:
#question 1
#what is the average cost of trips for each destination?
df.groupby('Destination')['Total_Cost'].mean()

Destination
ALBANIA           73664.210000
ALEJANDROSHIRE    78168.730000
ARUBA              8573.290000
Adamsbury         22309.600000
Adamsfurt         15705.440000
                      ...
Zacharyberg       41751.850000
Zambia            20658.930000
Zamoramouth       84404.310000
Zimbabwe          31329.406667
Zimmermantown     59139.600000
Name: Total_Cost, Length: 858, dtype: float64

In [8]:
#question 2
#distribution of payment methods used by customers
df['Payment_Method'].value_counts()

Payment_Method
Credit Card      1088
Debit Card       1058
PayPal           1033
Bank Transfer     982
Name: count, dtype: int64

In [10]:
#question 3
#unique values in dataset
print("unique values in destination column :", df['Destination'].nunique())

unique values in destination column : 858

In [24]:
# question 4
df = pd.DataFrame({'Travel Dates': ['2024-05-27 - 2025-06-02']})

# Split start and end dates
df[['Start Date', 'End Date']] = df['Travel Dates'].str.split(' - ', expand=True)

# Convert to datetime
df['Start Date'] = pd.to_datetime(df['Start Date'])
df['End Date'] = pd.to_datetime(df['End Date'])

# Calculate duration in days
df['Trip Duration'] = (df['End Date'] - df['Start Date']).dt.days

print(df[['Travel Dates', 'Trip Duration']])

              Travel Dates  Trip Duration
0  2024-05-27 - 2025-06-02            371

In [26]:
#question 5
#missing values in important columns


print("missing values in travel package column :", df['Travel_Package'].isnull().sum())
print("missing values in payment method column :", df['Payment_Method'].isnull().sum())
print("missing values in travel agent column :", df['Travel_Agent'].isnull().sum())

KeyError: 'Travel_Package'

In [27]:
#question 5
#missing values in important columns


print("missing values in travel package column :", df['Travel_Package'].isnull().sum())
print("missing values in payment method column :", df['Payment_Method'].isnull().sum())
print("missing values in travel agent column :", df['Travel_Agent'].isnull().sum())

KeyError: 'Travel_Package'